.add-post-button {
  position: absolute;
  left:10rem;
  top: 7rem;
  width: 6rem;
  height: 6rem;
  background-color: #255b4e;
  color: #d0efce;
  border: none;
  border-radius: 0 0 100px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.4;
  transform: translateY(-50px);
}

.add-post-button:hover {
  background-color: #d0efce;
  color: #255b4e;
  transition: 0.3s ease;
}
