.comment-btn {
  background-color: #ffffff; 
  color: #000000; 
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.comment-btn:hover {
  background-color: #fafafa; 
  transform: scale(1.1); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.comment-btn .MuiSvgIcon-root {
  font-size: 20px; 
  transition: color 0.3s ease; 
}

.comment-btn:hover .MuiSvgIcon-root {
  color: #fff6f6; 
}
