footer {
  position: fixed;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #255b4e;
  bottom: 0;
  left: 200px;
  height: 80px;
  z-index: 1000;
  color: #d0efce;
}
