.footer {
  position: fixed;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #255b4e;
  bottom: 0;
  height: 80px;
  z-index: 1000;
  color: #d0efce;
}
